glob2==0.7
h5py==3.1.0
imageio==2.9.0
imagesize==1.3.0
importlib-metadata==6.0.0
imutils==0.5.4
inflection==0.5.1
ipykernel==6.9.1
ipython==7.31.0
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.0.1
joblib==1.3.2
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
keras==2.9.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.5.1
mlxtend==0.21.0
multiprocess==0.70.15
numpy==1.21.6
pandas==1.3.5
Pillow==9.0.1
plotly==5.18.0
protobuf==3.19.4
psutil==5.8.0
pytest==7.1.2
PyYAML==6.0
requests==2.26.0
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
tensorflow==2.9.0
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.0
textdistance==4.2.1




